<div class="header bg-gradient-teal pb-8 pt-5 pt-md-8">
  <div class="container-fluid breadcrumbs">
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"> <i class="fas fa-home"></i> Farmácia Popular</li>
        <li class="breadcrumb-item"><a routerLinkActive="active" [routerLink]="['/popular-pharmacy/notification']">Notificação</a></li>
        <li class="breadcrumb-item"><a routerLinkActive="active" [routerLink]="['/popular-pharmacy/notification/elucidation']">Pedido de Esclarecimento</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tipos de Ocorrências</li>
      </ol>
    </nav>
  </div>
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-lg-12">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Cadastrar ou alterar Solicitação de Esclarecimento</h3>
            </div>
            <div class="col-4 text-right">
              <button class="btn btn-sm btn-warning" (click)="save()" [disabled]="(!elucidationFormGroup.valid) || authorizations.length == 0">Salvar Solicitação de Esclarecimento</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="elucidationFormGroup" (ngSubmit)="save()">
            <h6 class="heading-small text-muted mb-4">Informações desta Solicitação</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="nup">Número Único do Processo (NUP)</label>
                    <input type="text" class="form-control form-control-alternative" formControlName="nup" name="nup" id="nup" placeholder="Número Único do Processo desta Solicitação" required>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="date">Data das Autorizações</label>
                    <input type="date" class="form-control form-control-alternative" formControlName="date" name="date" id="date" placeholder="Data da Autorização" required>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <hr class="my-4" />
          <div class="row">
            <div class="col-lg-8">
              <h6 class="heading-small text-muted mb-4">Dados das Transações com pendências deste NUP</h6>
            </div>
            <div class="col-lg-4 text-right">
              <button class="btn btn-sm btn-warning" (click)="add()" [disabled]="(!authorizationFormGroup.value.authorizationCode || !authorizationFormGroup.value.occurrences)">Adicionar Autorização à Solicitação</button>
            </div>
          </div>

          <form [formGroup]="authorizationFormGroup" (ngSubmit)="add()">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="authorizationCode">Número da Autorização</label>
                    <input type="text" class="form-control form-control-alternative" formControlName="authorizationCode" name="authorizationCode" id="authorizationCode" placeholder="Informe uma Autorização já importada ou crie uma nova!" required>
                  </div>
                </div>

                <!--                  <div class="col-lg-6">-->
                <!--                    <div class="form-group">-->
                <!--                      <label class="form-control-label" for="authorizedAt">Data das Autorizações</label>-->
                <!--                      <input type="date" class="form-control form-control-alternative" formControlName="authorizedAt" name="authorizedAt" id="authorizedAt" placeholder="Data da Autorização" required>-->
                <!--                    </div>-->
                <!--                  </div>-->

                <div class="col-lg-12">
                  <label for="occurrences">Selecione os códigos das ocorrências para esta transação (segure o control e clique nos que se aplicam)</label>
                  <select formControlName="occurrences" class="custom-select" name="occurrences" id="occurrences" multiple required>
                    <option selected="selected">Selecione os Códigos dos tipos de Ocorrências...</option>
                    <option *ngFor="let occurrenceType of occurrencesTypes" [value]="occurrenceType.id">{{occurrenceType.id}} - {{occurrenceType.name}} </option>
                  </select>
                </div>
              </div>
            </div>
          </form>

          <hr class="my-4" />
          <h6 class="heading-small text-muted mb-4">Autorizações Cadastradas</h6>

          <div class="card shadow">
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                  <th scope="col">Cód.</th>
<!--                  <th scope="col">Data</th>-->
                  <th scope="col">Ocorrências</th>
                  <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let authorization of authorizations; index as i;">
                  <td>
                    {{authorization.id}}
                  </td>
<!--                  <td>-->
<!--                    <span>{{authorization.date | date: 'dd/MM/yyyy'}}</span>-->
<!--                  </td>-->
                  <td>
                    {{authorization.occurrences.join()}}
                  </td>
                  <td>
                    <button type="button" (click)="remove(authorizationId)" class="btn btn-outline-danger sidebar-icon mr-2"><i class="fas fa-trash"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
