<div class="header bg-gradient-teal pb-8 pt-5 pt-md-8">
  <div class="container-fluid breadcrumbs">
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"> <i class="fas fa-home"></i> Orçamento</li>
        <li class="breadcrumb-item active" aria-current="page">Ciclo de Vida dos Medicamentos</li>
      </ol>
    </nav>
  </div>

  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-lg-12">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--8">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#val-atual">Valores Atuais</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#percent-empenhado">Percentual Empenhado</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#hist-empenhado">Histórico</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#evol-historica">Evolução</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#comp-historico">Comparativo</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#rap-atual">RAP Atual</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#rap-acumulado">RAP Acumulado</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#exec">Execução</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <div class="tab-content">
                <div id="val-atual" class="tab-pane fade active show">
                  <h3>Valores Atuais</h3>
                  <!-- Chart -->
                  <div class="chart">
                    <canvas id="chart-current-values" class="chart-canvas"></canvas>
                  </div>
                </div>
                <div id="percent-empenhado" class="tab-pane fade">
                  <h3>Percentual Empenhado</h3>
                  <p>Some content in menu 1.</p>
                </div>
                <div id="hist-empenhado" class="tab-pane fade">
                  <h3>Histórico</h3>
                  <p>Some content in menu 2.</p>
                </div>
                <div id="evol-historica" class="tab-pane fade">
                  <h3>Evolução</h3>
                  <p>Some content.</p>
                </div>
                <div id="comp-historico" class="tab-pane fade">
                  <h3>Comparativo</h3>
                  <p>Some content in menu 1.</p>
                </div>
                <div id="rap-atual" class="tab-pane fade">
                  <h3>RAP atual por Ação</h3>
                  <p>Some content in menu 2.</p>
                </div>
                <div id="rap-acumulado" class="tab-pane fade">
                  <h3>RAP acumulado</h3>
                  <p>Some content in menu 2.</p>
                </div>
                <div id="exec" class="tab-pane fade">
                  <h3>Execução</h3>
                  <p>Some content in menu 2.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
