<div class="header bg-gradient-teal pb-8 pt-5 pt-md-8">
  <div class="container-fluid breadcrumbs">
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"> <i class="fas fa-home"></i> Orçamento</li>
        <li class="breadcrumb-item active" aria-current="page">Ciclo de Vida dos Medicamentos</li>
      </ol>
    </nav>
  </div>

  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-lg-12">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--8">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Medicamentos</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">
                <i class="fas fa-search mr-1"></i>
                Buscar
              </a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Ação</th>
                <th scope="col">Grupo</th>
                <th scope="col">Data de estoque</th>
                <th scope="col" class="d-flex justify-content-between align-items-center">
                  Situação
                  <i class="fas fa-question-circle"></i>
                </th>
                <th scope="col">Operações(CTA)</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let remedy of remedyData">
              <td scope="row">
                <a href="/budget/remedy-lifecycle">{{remedy.nome}}</a>
              </td>
              <td>
                <tr *ngFor="let acaoItem of remedy.acao">
                  {{acaoItem}}
                </tr>
              </td>
              <td>
                <tr *ngFor="let grupoItem of remedy.grupo_cp">
                  {{grupoItem}}
                </tr>
              </td>
              <td>
                <tr *ngFor="let estoque of remedy.estoque">
                  {{estoque}}
                </tr>
              </td>
              <td>
                <tr *ngFor="let gp of remedy.grupo_cp; let i = index;">
                  <i *ngIf="i == 0" class="fas fa-check-circle text-success ml-3"></i>
                  <i *ngIf="i == 1" class="fas fa-exclamation-circle  text-warning ml-3"></i>
                  <i *ngIf="i == 2" class="fas fa-times-circle text-danger ml-3"></i>
                </tr>
              </td>
              <td>
                <tr *ngFor="let estoque of remedy.estoque">
                  -
                </tr>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
